/**
 * Fast Track Brand - Alignment Utility Classes
 * Per contracts/layout.yaml
 *
 * DEFAULT: Left-aligned (Fast Track is strongly left-aligned)
 */

/* ========== TEXT ALIGNMENT ========== */
.ft-left { text-align: left; }
.ft-right { text-align: right; }
.ft-center { text-align: center; } /* Use sparingly - hero headlines only */

/* ========== FLEX ALIGNMENT ========== */
.ft-flex {
  display: flex;
}

.ft-flex-col {
  display: flex;
  flex-direction: column;
}

.ft-items-start {
  align-items: flex-start;
}

.ft-items-center {
  align-items: center;
}

.ft-items-end {
  align-items: flex-end;
}

.ft-justify-start {
  justify-content: flex-start;
}

.ft-justify-center {
  justify-content: center;
}

.ft-justify-end {
  justify-content: flex-end;
}

.ft-justify-between {
  justify-content: space-between;
}

/* ========== FLEX WRAP ========== */
.ft-flex-wrap {
  flex-wrap: wrap;
}

/* ========== INLINE FLEX ========== */
.ft-inline-flex {
  display: inline-flex;
}
