/**
 * Fast Track Brand - Font Declarations
 * Per contracts/typography.yaml and research.md
 */

@font-face {
  font-family: 'Plaak';
  src: url('../../assets/fonts/Plaak3Trial-43-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Riforma';
  src: url('../../assets/fonts/RiformaLL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk Mono';
  src: url('../../assets/fonts/MonumentGrotesk-Mono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
